body {
    background-color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    padding-top: 70px;
}

.nav {
    width: 100%;
    height: 70px;
    text-transform: uppercase;
    list-style: none;
    background-color: cadetblue;
    position: fixed;
    z-index: 1;
    top: 0;
}

.nav li {
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70px;
    padding: 0 40px;
}

.nav li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.email {
    font-size: 14px !important;
}

.nav ul {
    float: right;
}

.nav ul li {
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70px;
    padding: 0 20px;
}

.nav ul li:last-child {
    padding-right: 40px;
}

.nav ul li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.active {
    padding-top: 6px;
    padding-bottom: 4px;
    border-bottom: 2px solid black;
}

.title {
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    padding-bottom: 4px;
    border-bottom: 2px solid black;
    width: 140px;
    margin: 50px auto 40px;
}

.work {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.preview {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    margin: 20px 60px 20px;
    border-radius: 5px;
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(100,149,237, 0.3);
}

.preview:hover .hover {
    opacity: 1;
}

.view {
    background-color: black;
    font-size: 16px;
    border-radius: 5px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.view:hover {
    background-color: white;
    transition: .5s ease;
}

.view a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 16px 20px;
}

.view:hover a {
    color: black;
    transition: .5s ease;
}

.description {
    text-align: center;
    margin-bottom: 10px;
}

.description h3 {
    color: cadetblue;
}

.description h4 {
    margin-top: 5px;
    font-size: 14px;
}

.about {
    height: 834px;
    background-color: lightsteelblue;
    margin-top: 20px;
    text-align: center;
}

.about-me {
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 4px;
    border-bottom: 2px solid black;
    width: 86px;
    margin: 0 auto;
}

.summary {
    width: 60%;
    margin: 10px auto 0;
}

.interests {
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 4px;
    border-bottom: 2px solid black;
    width: 86px;
    margin: 20px auto 0;
}

.code {
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 4px;
    border-bottom: 2px solid black;
    width: 240px;
    margin: 20px auto 0;
}

.technologies {
    width: 40%;
    margin: 10px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.technologies li {
    width: 33.33%;
    padding: 30px 0;
}

.html img,.css img,.bootstrap img,.sass img,.js img,.jquery img,.nodejs img,.php img {
    width: 80px;
    height: 70px;
    display: block;
    margin: 20px auto 0;
}

.mongodb img {
    width: 160px;
    height: 70px;
    display: block;
    margin: 20px auto 0;
}

.footer {
    width: 100%;
    height: 70px;
    text-transform: uppercase;
    list-style: none;
    background-color: cadetblue;
}

.footer li {
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70px;
    padding: 0 40px;
}

.footer ul {
    float: right;
}

.footer ul li {
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70px;
    padding: 0 20px;
}

.footer ul li:last-child {
    padding-right: 40px;
}

.footer ul li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}